@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #013d60;
  --secondary-color: #f1e5d1;
  --accent-color: #9A7E43;
}

body {
  color: var(--secondary-color);
  background: var(--primary-color);
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .transition-colors {
    @apply transition-all duration-200 ease-in-out;
  }
}

